@import url('https://fonts.googleapis.com/css2?family=News+Cycle&family=Quicksand&display=swap');


:root {
    --menu-background-color: #5542FA;
    --menu-text-color: white;
    --body-background-color: #2499ED;
    --body-text-color: black;
}

* {
    font-family: 'News Cycle', sans-serif;
    margin:0px;
    padding: 0px;
}

body {
    background-color: var(--body-background-color);
    color: var(--body-text-color);
    height:100vh;
}

header {
    min-width: 490px;
    display:flex;
    background-color: var(--menu-background-color);
    color: var(--menu-text-color);
    justify-content: space-between;
    align-items: center;
}

.menu-bar{
    display: inline;
    height: 53px;
    align-items: center;
    justify-content: center;
}

.menu-bar a {
    padding: 13px 13px;
    color:white;
}

.menu-bar a:hover {
    background-color: white;
    transition: all 0.4s ease;
    color:black;
    
}

.menu-bar a {
    text-decoration: none;
}

header .pag-title{
    padding-right: 15px;
    user-select: none;
    text-shadow: 2px 6px 8px  black;
}

footer {
    position: absolute;
    font-size: 12px;
    bottom:1px;
    background-color: white;
    width: 100%;
    text-align: center;
}

p {
    text-align: justify;
    padding: 0px 4px;
}

article h1 {
    padding-left:10px;
    padding-top: 15px;
}